@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/*----------------------------------------------------------------------- Head -*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

hr {
    height: 1px;
    background-color: #ffffff;
    border: none;
}

header {
    width: 100%;
}

body {
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

h1 {
    text-transform: uppercase;
    font-size: 45px; 
    letter-spacing: 6px;
    font-weight: 900;
    color:#1985A1;
}

header h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    color:#1985A1;
    text-align: center;
}

h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    color:#ffffff;
    text-align: center;
}

/*------------------------------------------------------------Logo & Nav Bar-*/

#logo {
    float: left; 
    text-decoration: none;
    padding-left: 1em;
}

#navbarNav {
    list-style: inline;
}

.nav-link li {
    list-style: none;
    margin: 1.2em;
    padding: 1em;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    list-style-type: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0.1em solid transparent;
    border-radius: .25rem;
}

.navbar-collapse {
    float: right;
}


/*------------------------------------------------------------------------------------- index.html -*/

/*---------------------------------------------------------- Top Section -*/

#top-section {
    overflow: hidden;
    position: relative;
    height: 76em;
    width: 100%;
}

#top-section h2 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    color:#ffffff;
}

#top-section h3 {
    letter-spacing: 0.2em;
    font-size: 1.5em;
    text-transform: none;
    color:#1985A1;
}

#home-cover-image {
    height: 76em;
    width: 100%;
    background-image: url("assets/images/steps.jpg");
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: center;
} 

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.08);
    }
}

/*----------------------------------------------------------Home Cover Text 1 -*/

#home-cover-text1 {
    padding: 1.5em;
    border-radius: 2.5em;
    border: 0.6em solid #1985A1;
    background-color: rgb(197,195,198, 0.65);
    position: absolute;
    top: 20em;
    right: 4em; 
}

#home-cover-text1 h2 {
    letter-spacing: 0.3em;
}

/*---------------------------------------------------------- Home Cover Text 2 -*/

#home-cover-text2 {
    padding: 1.5em;
    border: 0.6em solid #1985A1;;
    border-radius: 2.5em;
    letter-spacing: 0.3em;
    background-color: rgb(197,195,198, 0.75);
    position: absolute;
    bottom: 20em;
    left: 4em;
}

#home-cover-text2 a {
    color: #1985A1;
    font-size: 1.5em;
    padding: 0.5em;
    text-transform: lowercase;
}

#home-cover-text2 a:hover {
    color: #ffffff;
    text-decoration: none;
}


/*---------------------------------------------------------- 3 Reasons for Exercising -*/

#exercise-reasons {
    color: #ffffff;
    background-color: #C5C3C6;
    height: auto;
    width: 100%;
    padding: 0.5em;
} 

#container {
    margin: 0.1em;
    padding: 0.1em;
}

#three-reasons {
    background-color: #46494C;
    border-style: groove;
    border-radius: 1em;
    margin: 0em;
    padding: 0.2em;
    text-align: center;
}

.container-reasons {
    padding: 1em;
}

.container-reasons h2 {
    font-size: 3em;
    text-align: left;
}

.container-reasons p {
    font-size: 1.6em;
    text-align: left;
}

.col-sm {
    background-color: #46494C;
    border-radius: 2.5em;
    height: auto;
    padding: 1.5em;
    margin: 3em;
}

.row .col-sm h2 {
    text-align: center;
    font-size: 2em;
}

.row .col-sm p {
    text-align: center;
    font-size: 1.8em;
}

.row .col-sm i {
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.8em;
    padding: 0.5em;
    display: block;
    text-align: center;
}

/*------------------------------------------------------------ Client Testimonials -*/

#testimonials {
    color: #ffffff;
    background-color: #1985A1;
    height: auto;
}

#testimonials h2 {
    font-size: 3em;
}

#testimonials .row {
    padding: 1em;
}

#testimonials-heading {
    padding-top: 1em;
}

.row .col-md-6 h3 {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
}

.row .col-md-6 p {
    font-size: 1.6em;
    border: 0.1em solid #ffffff;
    padding: 0.5em;
}

/*----------------------------------------------------------Events Section-*/

#home-events {
    width: 100%;
    margin-bottom: 0em;
    height: auto;
    background-color: #1985A1;
}

#home-events h2 {
    font-size: 3em;
    padding-top: 6.25em;
}

#home-events .next-events {
    background-image: url("assets/images/spartan9.jpg");
    border-radius: 1em;
    margin: 0.3em;
    background-size: cover;
    display: inline-block;
    background-position: center;
    overflow: hidden;
    height: 52em;
    padding-top: 25em;
    width: 24%;
    position: relative;
    text-align: left;
}

#home-events .next-events h2 {
    font-size: 2em;
    color: #ffffff;
    padding: .5em;
}

#home-events .next-events h3 {
    font-size: 2em;
    color: #ffffff;
    padding: 0.5em;
}

#home-events .next-events a {
    text-decoration: none;
    color:#1985A1;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

#home-events .next-events a:hover {
    color:#ffffff;
}

/*---------------------------------------------------------- Smoothie Recipes -*/

#smoothie-recipes {
    width: 100%;
    padding-top: 1em;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: #1985A1;
}

#smoothie-recipes h2 {
    padding: 1em;
    font-size: 2.8em;
    color:#ffffff;
    text-align: center;
}

#recipe {
    color: #ffffff;
    background-image: url("assets/images/fruit-smoothie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40em;
    padding: 0.625em 6.25em 0.625em 6.25em;
    font-size: 2em;
}

#recipe h2 {
    color: #ffffff;
    font-size: 2em;
    letter-spacing: 0.1em;
}

#recipe-one-heading, #recipe-two-heading {
    width: 45%;
    padding: 1em;
}

#recipe-one-heading {
    float: left;
}

#recipe-two-heading {
    float: right;
}

#recipe li {
    text-decoration-style: solid;
    padding-left: 0.4em;
    list-style-type: "》";
}

/*------------------------------------------------------------------------------------ contact.html -*/

#contact-top-section {
    overflow: hidden;
    position: relative;
    height: 150em;
    width: 100%;
    color: #ffffff;
}

#contact-cover-image {
    height: 150em;
    width: 100%;
    background-image: url("assets/images/steps10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
} 

#cover-text3 {
    padding: 1em;
    border-radius: 1em;
    letter-spacing: 0.4em;
    border: 0.5em solid #1985A1;
    font-size: 1.6em;
    background-color: rgb(197,195,198, 0.65);
    position: absolute;
    bottom: 18.75em;
    left: 3em; 
}

#cover-text3 ul {
    list-style-type: none;
}

#cover-text4 {
    padding: 1em;
    border-radius: 1em;
    border: 0.5em solid #1985A1;
    background-color: rgb(197,195,198, 0.65);
    position: absolute;
    bottom: 10em;
    left: 2.5em; 
}

#cover-text4 h2 {
    text-transform: none;
    font-size: 2.2em;
}


/*--------------------------------------------------------------- Biography -*/

#bio {
    color: #ffffff;
    background-color: #1985A1;;
    height: auto;
}

#bio h1 {
    text-align: center;
    padding: 1em 1em;
    letter-spacing: 0.5em;
    font-weight: 900;
    color:#ffffff;
}

.container2 {
    padding: 1em;
    margin: 0.4em;
}

.container2 h2 {
    font-size: 1.8em;
    text-align: left;
}

.container2 p {
    font-size: 1.6em;
    text-align: left;
}

/*---------------------------------------------------------------- Form Section -*/

.form-section {
    clear: both;
    background-size: cover;
    background-position: center;
    height: 56.25em;
    color: transparent;
}

#form {
    height: 56em;
    padding: 4em;
    text-align: left;
    box-sizing: border-box;
    color: #ffffff;
}

#form h2 {
    text-align: left;
    font-size: 3em;
}

.contact-button {
    border-radius: 1em;
    font-size: 6em;
    padding: 2em;
    background-color: transparent;
    margin: 1em;
    box-sizing: border-box;
    border: 0.2em solid #1985A1;
}

input {
    width: 40%;
    color: #ffffff;
    height: 2em;
    padding: 2em;
    background-color: transparent;
    margin: 0.5em;
    box-sizing: border-box;
    border: 0.2em solid #1985A1;
}

textarea {
    padding: 2em;
    background-color: transparent;
    margin: 0.5em;
    color: #ffffff;
    box-sizing: border-box;
    border: 0.2em solid #1985A1;
}



/*---------------------------------------------------------------- End of Form -*/


/*----------------------------------------------------------------------------------------- gallery.html -*/
.container-gallery {
    position: center;
}

.row {
    margin: 0.5em;
    padding: 1em;
    position: relative;
}

#race-images-title, #photo-shoot-title {
    padding-top: 4em;
    padding-left: 2.5em;
}

#race-images-title h2, #photo-shoot-title h2 {
    text-align: left;
    color: #1985A1;
}

/*------------------------------------------------------------------------------------------ events.html -*/

#events-top-section {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

#events-cover-image {
    width: 100%;
    height: 180em;
    background-image: url("assets/images/steps5.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    position: center;
} 

#event-details {
    margin: 1em;
    position: relative;
}

#event-details h2 {
    color: #ffffff;
    font-size: 3em;
    padding: 1.5em 1.5em;
    letter-spacing: 0.25em;
}

#event-details .event1 {
    margin: 0.5em;
    padding: 1.5em;
    border-radius: 1em;
    text-align: center;
    border: 0.5em solid #1985A1;
    color: #1985A1;
    background-color: rgb(197,195,198, 0.65);
}

#event-details h3 {
    font-size: 3em;
    color: #ffffff;
    padding: 0.25em;
}

#event-details h4 {
    color: #1985A1;
    text-transform: uppercase;
    font-size: 3em;
}

#event-details a {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

.row p {
    color: #ffffff;
    font-size: 1.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#event-details .event1 a {
    color: #1985A1;
    font-size: 1.6em;
    float: right;
    text-decoration: none;
    padding: 0.25em;
}

#event-details .event1 a:hover {
    color: #ffffff;
}

/*------------------------------------------------------------------------------------------------ Footer -*/

.footer {
    width: 100%;
    padding-bottom: 1em;
}

.row {
    padding-bottom: 1em;
    text-align: center;
}

.col-sm-8 h2 {
    padding-top: 1em;
    font-size: 2em;
    color: #1985A1;
} 

.col-sm-8 h3 {
    color: #1985A1;
    font-size: 1em;
}

#social-links {
    font-size: 2em;
    padding: 0.25em;
    text-decoration: none;
}

#social-links li {
    padding: 1em;
}

#social-links a {
    text-decoration: none;
    color: #1985A1;
}

#social-links li a:visited {
    text-decoration: none;
}

.col-sm-4 {
    text-decoration: none;
    text-align: center;
}

.col-sm-4 h4 {
    color: #1985A1;
    font-size: 1.2em;
    padding:0.5em;
}

.col-sm-4 a {
    border: 0.2em solid #1985A1;
    border-radius: 1em;
    padding: 0.25em;
    margin-top: 1em;
    color: #1985A1;
}

.back-to-top, .back-to-home {
    margin: 1em;
    border: 0.25em solid #1985A1;
    border-radius: 1em;
    padding: 1em;
    color: #1985A1;
}

.back-to-top a, .back-to-home a {
    border: 0.2em solid #1985A1;
    border-radius: 1em;
}

.back-to-top a:hover, .back-to-home a:hover {
    border: 0.2em solid #1985A1;
    border-radius: 1em;
    text-decoration: none;
}


