@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/*--------------------------------------------------------------Head*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #C5C3C6;
    width: 100%
}

body {
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: #C5C3C6;
}

h1 {
    text-transform: uppercase;
    font-size: 80px; 
    letter-spacing: 8px;
    font-weight: 800;
    color:#1985A1;
}

h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    color:#ffffff;
    text-align: center;
}


/*------------------------------------------------------------Nav Bar*/

#logo {
    float: left; 
    text-decoration: none;
    padding-left: 10px;
}

#nav-bar {
    list-style-type: none;
}

#logo, #nav-bar {
    line-height: 100px;
    background-color: #C5C3C6;
}

#nav-bar li {
    float: right;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 4px;
    padding: 4px;
    letter-spacing: 4px;
}

#nav-bar li i {
    width: 100%;
    height: 100%;
    color: #1985A1;
    padding: 10px;
}

#nav-bar li a {
    text-decoration: none;
    color: #ffffff;
}

#nav-bar a:hover {
    font-size: 32px;
}

/*----------------------------------------------------------Top Section*/

#top-section {
    overflow: hidden;
    position: relative;
    height: 1500px;
    width: 100%;
}

#top-section h2 {
    letter-spacing: 2px;
    font-size: 30px;
    color:#ffffff;
}

#top-section h3 {
    letter-spacing: 2px;
    font-size: 30px;
    color:#1985A1;
}


#cover-image {
    height: 1500px;
    width: 100%;
    background-image: url("assets/steps.jpg");
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
} 

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.08);
    }
}

/*----------------------------------------------------------Cover Text 1*/

#cover-text {
    padding: 15px;
    border-radius: 25px;
    letter-spacing: 3px;
    border: 6px solid #1985A1;
    background-color: rgb(197,195,198, 0.65);
    position: absolute;
    top: 200px;
    right: 180px; 
}

/*----------------------------------------------------------Cover Text 2*/

#cover-text2 {
    padding: 15px;
    border: 6px solid #1985A1;;
    border-radius: 25px;
    letter-spacing: 3px;
    background-color: rgb(197,195,198, 0.65);
    position: absolute;
    bottom: 250px;
    left: 180px; 
}

#cover-text2 a {
    color: #1985A1;
    font-size: 30px;
    padding: 5px;
    text-transform: lowercase;
}

#cover-text2 i {
    color: #1985A1;
    font-size: 30px;
}

#cover-text2 a:hover {
    color: #ffffff;
    text-decoration: none;
}


/*----------------------------------------------------------Section One*/

#section-one {
    color: #ffffff;
    background-color: #C5C3C6;
    margin: 0px;
    padding: 30px;
    height: auto;
    width: 100%;
} 

#container {
    margin: 1px;
    padding: 1px;
}

#three-reasons {
    background-color: #46494C;
    border-style: groove;
    border-radius: 25px;
    margin: 0px;
    padding: 30px;
    font-size: 70px;
    text-align: center;
}

.col-sm {
    width: 40%;
    background-color: #46494C;
    border-radius: 25px;
    height: 550px;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.col-sm i {
    font-size: 200%;
    align-items: center;
    border-radius: 50%;
    left: 40px;
    color: #ffffff;
    padding: 20px;
    display: block;
    text-align: center;
}

/*------------------------------------------------------------Section Two*/

#section-two {
    color: #ffffff;
    background-color: #11586A;
    padding: 15px;
    height: auto;
}

#section-two .row {
    margin: 5px;
    padding: 5px;
    font-family: 'Amatic SC', cursive;
}

#section-two i {
    font-size: 180%;
    color: #ffffff;
    margin: 3px;
    padding-bottom: 40px;
}

#section-two-heading {
    text-align: center;
    margin: 5px 0px 5px 0px;
    padding: 15px 0px 15px 0px;
}

.col-md-6 h2 {
    font-size: 30px;
    text-align: left;
}

.col-md-6 p {
    font-size: 24px;
    font-weight: bold;
}

/*----------------------------------------------------------Section Three*/

#section-three {
    height: auto;
    width: 100%;
}

#motto {
    color: #ffffff;
    background-color: #1985A1;
    width: 100%;
    height: 600px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#motto i {
    font-size: 180%;
    color: #ffffff;
}

/*----------------------------------------------------------Section Four*/

#section-four {
    height: auto;
    width: 100%;
}

#recipe {
    color: #ffffff;
    background-color: #11586A;
    font-family: 'Amatic SC', cursive;
    height: 800px;
    padding: 20px;
    font-size: 36px;
}

#recipe h2 {
    font-family: 'Amatic SC', cursive;
    padding: 20px;
    font-size: 56px;
}

#recipe i {
    color: #ffffff;
    font-size: 250%;
}

#recipe-one-heading {
    float: left;
    margin: 10px;
    padding: 10px 10px 10px 30px;
    width: 45%;
    line-height: 50px;
}

#recipe-two-heading {
    float: right;
    padding: 10px 10px 10px 30px;
    width: 45%;
    margin: 5px;
    line-height: 50px;
}

#recipe li {
    text-decoration-style: solid;
    text-transform: lowercase;
}


/*----------------------------------------------------------Events Section*/

#events {
    width: 100%;
    border: 6px solid #11586A;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    text-align: center;
}

#events div {
    background-image: url("assets/Spartan18.jpg");
    border-radius: 25px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-top: 300px;
    width: 24%;
    display: inline-block;
}

#events h2, h3 {
    letter-spacing: 4px;
    font-size: 50px;
    color: #ffffff;
    padding: 5px;
    font-weight: 400;
}

/*-------------------------------------------------------------------Form*/

.form-section {
    clear: both;
    background: url("#");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.form-section i {
    font-size: 300%;
    float: right;
    color: #ffffff;
}

#form {
    color: #ffffff;
    background-color: #1985A1;
    height: 750px;
    padding: 50px;
    text-align: left;
}

input {
 width: 500px;
 height: 30px;
 padding: 30px;
}


/*----------------------------------------------------------------End Form*/


/*-----------------------------------------------------------------Footer*/

#footer {
    background-color: #46494C;
    text-align: center;
    color: #ffffff;
    height: 500px;
}

.full-width-footer {
    width: 100%;
}

.footer-details h3 {
    font-size: 40px;
    letter-spacing: 6px;
}

.full-width-footer li {
    display: inline;
    padding: 40px;
    text-decoration: none;
}

.footer-details li i {
    border-radius: 50%;
    font-size: 80px;
    line-height: 150px;
    padding: 10px;
    text-decoration: none;
}

.footer-details li a {
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;
}


.social-links li a:hover {
    color: #ffffff;
    font-size: 210%;
}

.social-links li a:visited {
    text-decoration: none;
}

/*-----------------------------------------------------------Events.html--*/

#top-section-events {
    overflow: hidden;
    position: relative;
    height: 2200px;
    width: 100%;
}

#cover-image-events {
    width: 100%;
    background-image: url("assets/steps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
} 

#event-details {
    margin: 50px;
    padding: 50px;
}

#event-details .event1 {
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    border: 8px solid #1985A1;
    color: #1985A1;
    background-color: rgb(197,195,198, 0.65);
}

#event-details h3 {
    letter-spacing: 4px;
    font-size: 50px;
    color: #ffffff;
    padding: 5px;
    font-weight: 400;
}

#event-details h4 {
    letter-spacing: 4px;
    color: #1985A1;
    text-transform: uppercase;
    font-size: 50px;
    padding: 5px;
    font-weight: 400;
}

#event1 i {
    color: #1985A1;
    font-size: 60px;
}

/*-----------------------------------------------------------Gallery---*/

#images {
    clear: both;
    line-height: auto;
    column-count: 3;
    column-gap: 0px;
}

#images img{
    width: 100%;
}



