@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Fjalla+One&family=Sirin+Stencil&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

hr {
    height: 2px;
    background-color: #FFD700;
    border: none;
}

header {
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-family: 'Sirin Stencil', cursive;
    font-size: 4em;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.2em;
    margin: 1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'Sirin Stencil', cursive;
    font-size: 2em;
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8em;
}

h5 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
}

h6 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
}

p {
    font-size: 1.3em;
    text-align: left;
}

.styled-heading {
    color: #000000;
}

/*-----------logo & nav bar --*/
#logo {
    text-decoration: none;
    color: #000000;
    padding-right: 2em;
}

#logo a {
    text-decoration: none;
}

#logo a:link,
#logo a:visited,
#logo a:hover,
#logo a:active {
    text-decoration: none;
}

.event-section .card-body {
    min-height: 82em;
}

/*-- inspiration from https://getbootstrap.com/docs/4.0/components/navbar/ --*/
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler {
    padding: .25em .75em;
    font-size: 1.25em;
    line-height: 1;
    background-color: transparent;
    border: 0.1em solid transparent;
    border-radius: .25em;
}

.nav-link li {
    list-style: none;
    color: #000000;
    margin: 2em;
    padding: 1em;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    list-style-type: none;
}

.navbar-nav li {
    margin-right: 1em;
}

.navbar-collapse {
    float: right;
}

/*----------- index.html -*/

/*-------- top section -*/

#cover-section {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

/* Buttons */

.call-to-action {
    background: #FFD700;
    color: #000000;
    letter-spacing: 0px;
    border-radius: 12px;
    padding: 0.5em;
    font-size: 1.5em;
}

.call-to-action:hover,
.call-to-action:active,
.call-to-action:focus {
    background: #000000;
    color: #FFD700;
}

/* Buttons */

.button-style {
    background: #FFD700;
    color: #000000;
    border-radius: 12px;
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    background: #000000;
    color: #ffffff;
}

#cover-image {
    width: 100%;
    height: 46em;
    background-image: url("https://raw.githubusercontent.com/alandoherty95/Hurton-Fitness-2022/master/assets/images/spartan6.jpg");
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.08);
    }
}

/*--------------- cover section -*/

#cover-text {
    padding: 1em;
    margin: 1.2em;
    border-radius: 12px;
    border: 0.3em solid #FFD700;
    background-color: rgb(197, 195, 198, 0.8);
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 22em;
    right: 4em;
}

/*---------------------- about section -*/

.about-section {
    background-color: #000000;
    color: white;
    height: auto;
    padding: 1em;
}

.about-section h2,
.about-section h3 {
    color: white;
}

/*------- testimonial section -*/

.testimonial-section {
    height: auto;
    padding: 1em;
}

.row .col-md-6 p {
    font-size: 1.4em;
    border: 0.1em solid #ffffff;
    padding: 0.3em;
    margin: 0.2em;
}

/*------------------events section-*/
.event-section .col-lg-6 {
    text-align: center;
}

.event-page {
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 6em;
}

.event-page .card-body {
    background-color: #000000;
    border: 2px solid #FFD700;
}

.event-page .col-lg-6 {
    text-align: center;
}

/*-------------- smoothie recipes -*/
.recipe-section {
    height: auto;
    padding: 1em;
    background-color: #000000;
    color: white;
}


.recipe-section .card-body {
    border: 2px solid #FFD700;
}

.recipe-section ul {
    list-style-type: circle;
    text-align: left;
    margin: 1em;
}

.recipe-section li {
    margin: 1em;
    font-size: 1.2em;
}

.social-links a {
    text-transform: none;
    color: #000000;
    text-decoration: none;
    margin: 4em;
}

/*----------- 3 reasons for exercising -*/


.exercise-reasons-section .card-body {
    border: 2px solid #FFD700;
}

/*---------------------- contact.html -*/

.contact-section {
    background-color: #000000;
    color: #ffffff;
}

.contact-section .card-body {
    border: 2px solid #FFD700;
    background-color: #000000;
    color: #ffffff;
}

.contact-section .card-body a {
    color: #ffffff;
}

.certificate-section {
    background-color: #000000;
    height: auto;
    padding: 0.8em;
}

.certificate-section h2 {
    color: #ffffff;
}

.certificate-section .card-body {
    color: #ffffff;
}

.certificate-section ul {
    list-style-type: circle;
    text-align: left;
    margin: 1em;
}

.certificate-section li {
    margin: 1em;
    font-size: 1.2em;
}

.styled-heading {
    color: #000000;
}

/*----------------- footer -*/

.footer {
    width: 100%;
    padding-bottom: 1em;
}

.row {
    padding-bottom: 1em;
    text-align: center;
}

.col-sm-8 h2 {
    padding-top: 1em;
    font-size: 2em;
}

.col-sm-8 h3 {
    font-size: 1.2em;
}

.footer-links {
    font-size: 1em;
    padding: 0.25em;
    text-decoration: none;
}

.footer-links li {
    list-style: none;
    margin-top: 1em;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
}

.footer-links a:visited {
    text-decoration: none;
}

#footer-pages {
    font-size: 1em;
    padding: 0.25em;
    text-decoration: none;
    list-style: none;
}

#footer-pages li a:visited {
    text-decoration: none;
}

.col-sm-4 {
    text-decoration: none;
    text-align: center;
}

.col-sm-4 h4 {
    font-size: 1.2em;
    padding: 0.5em;
}

.col-sm-4 a {
    padding: 0.25em;
    margin-top: 1em;
    color: #000000;
}