@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

#logo {
    float: left;
    font-size: 280%;
    text-transform: uppercase;
}

body {
    font-family: Lato;
    color: #000000;
}

h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #00c3ff;

}

#left-about {
    padding-top: 20px;
    width: 33%;
    float:left;
}

#right-about{
    padding-top: 20px;
    width: 33%;
    float: right;
}

#center-about{
    width:33px;
    margin:0 auto;
}

